@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

body {
  font-family: "Belanosima", sans-serif;
  line-height: 30px;
}
.begin {
  margin-left: 550px;
  margin-right: auto;
  display: block;
  width: 60px;
}
.sottologo {
  text-align: center;
  background-color: rgb(247, 223, 227);
}

.feat-link {
  text-align: center;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  line-height: 1.6;
}

.feat {
  text-align: justify;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}
.link {
  color: red;
  border: 2px;
}

.focaccia {
  border-radius: 20px;
  box-shadow: 10px 10px lightgrey;
}

h6 {
  text-align: center;
}
footer {
  text-align: justify;
  padding-left: 400px;
}
.linea {
  border-color: rgb(197, 215, 209);
}
